html, body { height: 100%; }
body {
  margin: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: drag;
}

.wrap {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 20px;
  filter: drop-shadow(0 8px 20px rgba(0,0,0,0.25));
  overflow: hidden;
  box-sizing: border-box;
}

#q {
  -webkit-app-region: no-drag;
  border: none;
  outline: none;
  background: transparent;
  font-size: 23px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  direction: ltr;
  text-align: left;
  padding: 0;
  margin: 0;
  resize: none;
  overflow: hidden;
  height: 24px;
  min-height: 24px;;
  box-sizing: content-box;
}


#mirror {
  position: fixed;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
  white-space: pre;
  font-size: 23px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
}
